#root {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-between;
}
#root .navigation{
  width: 18%;
}

#root .inner-page{
  width: 80%;
  border-radius: 20px;
}

.ql-container{
  height: 80vh !important;
}